.login-btn {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.login-btn div {
  margin-left: 0.5em;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu-list li {
  padding: 1em;
}

.menu-search {
  position: absolute;
  right: 2em;
  border-bottom: 1px solid black;
}

.menu-search input:focus {
  outline: none;
}

.menu-search input {
  border: none;
  margin-left: 5px;
}

.card-container img:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card-container img:hover {
  transition: all 300ms ease-in;
}

.card-container {
  border: none;
  margin-bottom: 10px;
}
